html
  head
    title Wheee.org Minecraft Server Status
    link(rel="stylesheet", href="/public/index.css", type="text/css")
  body
    table
      tr
        th port
        th name
        th players
        th version
      - for server in servers
        tr.server
          td= server.port
          td= server.info.description
          td= server.info.players.online
          td= server.info.version.name
        if server.info.players.sample && server.info.players.sample.constructor === Array
          - for player in server.info.players.sample
            tr
              td
              td
              td
                img.player(src="https://crafatar.com/avatars/"+player.id+"?size=32")
                span.name= player.name

